data/jenkins

# temos binaraies
/bin

# secret env files
**/secret.sh
**/secret-env.sh

# kube admin files
**/admin.conf

# vim swap files
**/*.swp
**/*.swo

# temporary ignore
macosx/install/obmcs-sdk/oracle-bmcs-python-sdk.zip
macosx/install/obmcs-sdk/oracle-bmcs-python-sdk/
macosx/install/obmcs-sdk/venv/

# gcc artifacts
*/*.dSYM

# python virtualenv environments
**/venv

# node suports file
**/node_modules/
npm-debug.log

# elixer and mix
_build
deps

# packer_caches or ouputs
**/packer_cahe
**/output-virtualbox-iso/

# iso files
**/*.iso

# virtual box artifacts
**/*.box
**/*.vmdk
**/*.ovf
