data/jenkins

# no Temos binaraies
/bin

# vim swap files
**/*.swp
**/*.swo

# temporary ignore
macosx/install/obmcs-sdk/oracle-bmcs-python-sdk.zip
macosx/install/obmcs-sdk/oracle-bmcs-python-sdk/
macosx/install/obmcs-sdk/venv/

# no python virtualenv environments
**/venv

# no node suports file
**/node_modules/
npm-debug.log

# elixer and mix
_build
deps

# no packer_caches or ouputs
**/packer_cahe
**/output-virtualbox-iso/

# no iso files
**/*.iso

# no virtual box artifacts
**/*.box
**/*.vmdk
**/*.ovf
