[Unit]
Description=Register Node Alive %i
BindsTo=node-alive@%i.service
After=node-alive@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set /services/changed/node-alive 1
ExecStart=/bin/bash -c 'while true; do
    [ "`etcdctl get /services/node-alive/${COREOS_PUBLIC_IPV4}`"
       != "server ${COREOS_PUBLIC_IPV4}:3000;" ] && etcdctl set /services/changed/node-alive 1;
          etcdctl set /services/node-alive/${COREOS_PUBLIC_IPV4} \'server ${COREOS_PUBLIC_IPV4}:3000;\'
             --ttl 60;sleep 45;done'
ExecStop=/usr/bin/etcdctl rm /services/node-alive/node-alive@%i
ExecStopPost=/usr/bin/etcdctl set /services/changed/node-alive 1

[X-Fleet]
MachineOf=node-alive@%i.service
